{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block pageContent %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-audience">
                    <div class="widget-icon orange pull-left">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title-gradient">{{ displays|length }}</div>
                        <div class="comment"><strong>{% if displays|length == 1 %}{% trans "Display" %}{% else %}{% trans "Displays" %}{% endif %}</strong></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-audience">
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title-gradient">{{ librarySize }}</div>
                        <div class="comment"><strong>{% trans "Library Size" %}</strong></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-audience">
                    <div class="widget-icon red pull-left">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title-gradient">{{ countUsers }}</div>
                        <div class="comment"><strong>{% if countUsers == 1 %}{% trans "User" %}{% else %}{% trans "Users" %}{% endif %}</strong></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-audience">
                    <div class="widget-icon blue pull-left">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="widget-content pull-left">
                        {% if embeddedWidget != "" %}
                            {{ embeddedWidget|raw }}
                        {% else %}
                            <div class="title-gradient">{{ nowShowing }}</div>
                            <div class="comment"><strong>{% trans "Now Showing" %}</strong></div>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-cloud-download"></i>
                    {% if xmdsLimit != "" %}
                        {% trans %}Bandwidth Usage. Limit {{ xmdsLimit }}{% endtrans %}
                    {% else %}
                        {% trans %}Bandwidth Usage ({{ bandwidthSuffix }}){% endtrans %}
                    {% endif %}
                    {% if currentUser.routeViewable("/stats") %}
                    <a class="pull-right" href="{{ urlFor("stats.view") }}">{% trans "More Statistics" %}</a>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                    <canvas id="bandwidthChart" style="clear:both;" height="230"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-tasks"></i>
                    {% if libraryLimitSet != "" %}
                        {% trans %}Library Usage. Limit {{ libraryLimit }}{% endtrans %}
                    {% else %}
                        {% trans "Library Usage" %}
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                    <canvas id="libraryChart" style="clear:both;" width="350" height="220"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-desktop"></i>
                    {% trans "Display Activity" %}
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body no-padding" style="height: 400px">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans "Display" %}</th>
                                <th>{% trans "Logged In" %}</th>
                                <th>{% trans "Authorised" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in displays %}
                                {% if row.mediaInventoryStatus == 1 %}
                                    {% set class = "success" %}
                                {% elseif row.mediaInventoryStatus == 2 %}
                                    {% set class = "danger" %}
                                {% else %}
                                    {% set class = "warning" %}
                                {% endif %}
                                <tr class="{{ class }}">
                                    <td>{{ row.display }}</td>
                                    <td><span class="glyphicon {% if row.loggedIn == 1 %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span></td>
                                    <td><span class="glyphicon {% if row.licensed == 1 %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-phone-square"></i>
                    {% trans "Support Information Center" %}
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body" style="height: 400px">
                        <p>When you need advanced technical help for issues that can’t be resolved with our knowledge base, you can always count on our support team. They provide assistance via chat, phone, and e-mail.
                        </p><br>
                            <div class="col-md-6">
                                <h4><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;<strong>CALL US</strong></h4>
                                <p>020 8805 9026 + Option 3</p>
                            </div>
                            <div class="col-md-6">
                                <h4><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>E-MAIL US</strong></h4>
                                <p><a href="mailto:support@mediacraftlondon.co.uk">support@mediacraftlondon.co.uk</a></p>
                            </div>
                            <div class="clearfix"></div><br>
                            <div class="col-md-6">
                                <h4><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>LIVE CHAT</strong></h4>
                                <button class="btn btn-success" style="margin: 5px 0 10px 0"><strong>CHAT NOW</strong></button>
                                <p>Our live chat is open from 8am to 8pm, Monday to Friday.</p>
                            </div>
                            <div class="col-md-6">
                                <h4><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;&nbsp;<strong>SUPPORT TICKET</strong></h4>
                                <button class="btn btn-info" style="margin: 5px 0 10px 0"><strong>CREATE A NEW TICKET</strong></button>
                                <p>Please provide us with as much details as possible so we can assist you more effectively.</p>
                            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javaScript %}
    <script type="text/javascript">

        // Create our chart
        var bandwidthChart = new Chart($("#bandwidthChart"), {
            type: "bar",
            data: {{ bandwidthWidget|raw }},
            options: {
                scales: {
                    xAxes: [{
                        stacked: {% if xmdsLimit %}true{% else %}false{% endif %}
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "{{ bandwidthSuffix }}",
                        },
                        stacked: {% if xmdsLimit %}true{% else %}false{% endif %}
                    }]
                },
                legend: {
                    display: false
                },
                maintainAspectRatio: false,
            }
        });

        var libraryData = {{ libraryWidgetData|raw }};
        var colours = new Array();
        for(var i = 0; i < libraryData.length; i++) {
            colours.push($c.rand());
        }
        var libraryChart = new Chart($("#libraryChart"), {
            type: 'pie',
            data: {
                datasets: [{
                    data: libraryData,
                    backgroundColor: colours
                }],
                labels: {{ libraryWidgetLabels|raw }}
            },
            options: {
                maintainAspectRatio: false
            }
        });
    </script>
{% endblock %}